<h1>Home</h1>
<p>
  <%= link_to 'sign up', signup_path %>
</p>

<p>
  <%= link_to 'log in', login_path %>
</p>

<p>
  <%= link_to 'test teen job details', teen_job_detail_show_path(:id => 1) %>
</p>

<% if false %>


    <%# Testing review %>
    <p>
        <%= link_to 'Give Review', controller: 'reviews' %>
    </p>


<% end %>