

<div class="normalheader">
    <div class="hpanel">
        <div class="panel-body">
        	<h2 class="font-light m-b-xs">
                Contact Us
            </h2>
            <br>
            <h2><small>
            	Please contact us via email: <strong>jobmine@hotmail.com</strong>
            </small></h2>

  

        </div>
    </div>
