<div class="normalheader">
	<div class="hpanel">
		<div class="panel-body">
			<a class="small-header-action" href="">
				<div class="clip-header">
					<i class="fa fa-arrow-up"></i>
				</div>
			</a>

			<div id="hbreadcrumb" class="pull-right m-t-lg">
				<ol class="hbreadcrumb breadcrumb">
          <li><a href="<%= root_path %>">Jobmine</a></li>
          <li>
            <span>Reviews</span>
          </li>
          <li class="active">
            <span>Update Review</span>
          </li>
        </ol>
      </div>
      <h2 class="font-light m-b-xs">
      	Update Review
      </h2>
      <small><%= "Please write reivew for #{@profile_obj.user.email}" %></small>
    </div>

  </div>
</div>

<div class="content">

	<div class="row">
		<div class="col-md-12">
			<div class="hpanel">
				<div class="panel-heading hbuilt">
					<div class="panel-tools">
						<a class="showhide"><i class="fa fa-chevron-up"></i></a>
						<a class="closebox"><i class="fa fa-times"></i></a>
					</div>
					Update this Review
				</div>
				<div class="panel-body text-center">
					<div class="m-b-xs">
						<h3>Review:</h3>
					</div>

					<%= render 'form' %>

				</div>
			</div>
		</div>
	</div>
</div>



<%= link_to 'Back', review_path %>