<div class="panel panel-default">
<% if @user = User.find_by(id: session[:current_user_id])%>

      <p class="lead" align="right"> Hello <%= @email = @user.email%> !</p>
      <div class="lead" align="right">
        <%= link_to "Log out", logout_path, method: :get %>
        <%= link_to "Home page", jobs_path, method: :get %>
        <%= link_to "Profile", show_profile_path(id: session[:current_user_id]) %>
      </div>

<% else%>
    <% if flash[:info] %>
        <p class="lead">You have successfully logged out!</p>
    <% else%>
        <p class = "lead">You are not logged in yet!</p>
    <%end%>

<% end%>
</div>
