<!--<p align="right">This is header</p>-->
<% if @user = User.find_by(id: session[:current_user_id])%>
    <p align="right">Hello <%= @email = @user.email%> !</p>
    <%= button_to "Log out", logout_path, method: :get %>
    <%= button_to "home page", root_path, method: :get %>
<% else%>
    <% if flash[:info] %>
        <p align="right">You have successfully logged out!</p></br>
    <% else%>
     <!--   <p align="right">You are not logged in yet!</p></br>-->

    <%end%>
<% end%>
