<h1 class="text-center">JOBMINE</h1>
<p class="text-justify">Jobmine is a website that channels empolers and teenages. The website is desinged for teenage to eaily access and apply for any job posted by employer. They will get paid based on the time slotes.</p>
