

<div class="normalheader">
    <div class="hpanel">
        <div class="panel-body">
        	<h2 class="font-light m-b-xs">
                JOBMINE
            </h2>
            <br>
            <h2><small>Jobmine is a website that channels empolers and teenages. The website is desinged for teenage to eaily access and apply for any job posted by employer. They will get paid based on the time slot. Get More Done in Less Time. Our service platform instantly connects you with skilled Taskers to do your chores so you can be more productive, every day.
            </small></h2>

  

        </div>
    </div>
