<h1>Here is your profile</h1>

<p>
  <%= @user_profile.address %><br>
</p>

<p>
  <%= @user_profile.phone_num %><br>
</p>

<p>
  <%= @user_profile.gender %><br>
</p>

<p>
  <b>Here is your current user type:</b><br>
  <%= @user_profile.user_type %><br>
</p>

<!-- TODO: add review and rating later -->