<h1>Payment</h1>

<table>
  <thead>
    <tr>
      <th>Attached card</th>
      <th>Paid</th>
      <th>unpaid</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.card_num %></td>
      </tr>
    <% end %>
  </tbody>
</table>




<%= link_to 'Home', payments_path %>
